<main id="scavenger-hunt-new-edit">
  <nav>
     <div class="username">
       <%= current_user.username %>
     </div>
  </nav>
  <header>
    Create a New Scavenger Hunt
  </header>
  <div class="scavenger-hunt-form">
    <%= form_for @scavenger_hunt do |f| %>
      <%= f.text_field :name, placeholder: :name, required: :true, autocomplete: :off, maxlength: 40 %>
      <%= f.text_area :description, placeholder: :description, required: :true, autocomplete: :off, maxlength: 250 %>
    <div class="form-buttons">
      <%= f.submit 'Create Scavenger Hunt', class: "submit-button" %>
      <%= link_to "Cancel", root_path, class: "form-button" %>
    </div>
    <% end %>
  </div>
  <footer>
    <%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path, class: 'footer-button home', title: 'Home' %>
  </footer>
</main>
