<% flash.each do |key, value| %>
  <div class="flash-<%= key %> notice">
    <%= value %>
  </div>
<% end %>

<main id="home">
  <header>
    <div class="title">
      find your adventure
    </div>
  </header>
  <section id="form">
    <%= form_tag users_path, method: :post, class: "form-group" do %>
      <%= text_field_tag :username, nil, placeholder: :username, required: :true, autocomplete: :off, maxlength: 25 %>
      <%= email_field_tag :email, nil, placeholder: :email, required: :true, autocomplete: :off %>
      <%= password_field_tag :password, nil, placeholder: :password, required: :true, autocomplete: :off, minlength: 8  %>
      <div class="form-buttons">
        <%= submit_tag 'Submit', class: "submit-button" %>
        <%= link_to "Cancel", root_path, class: "form-button" %>
      </div>
    <% end %>
  </section>
</main>
