<main id="home">
  <section id="form">
    <%= form_tag login_path, method: :post, class: "form-group" do %>
      <%= text_field_tag :username, nil, placeholder: :username %>
      <%= password_field_tag :password, nil, placeholder: :password %>
      <div class="form-buttons">
        <%= submit_tag 'Sign in', class: "sign-in" %>
        <%= link_to "Don't have an account? Register here", create_account_path, class: "create-account" %>
      </div>
    <% end %>
  </section>
</main>
