<main id="index">
  <nav>
     <div class="username">
       <%= "#{@username}'s Scavenger Hunts" %>
     </div>
  </nav>
  <div class="flash-message"></div>
  <div class='cards-container'>
    <% @scavenger_hunts.each do |hunt| %>
    <ul class='scavenger-hunt-card'>
      <a href="/<%= @username %>/scavenger_hunts/<%= hunt.id %>">
        <div class="card-left">
          <span class='card-title'><%= hunt.name %></span>
          <li>Description: <%= hunt.description %></li>
        </div>
      </a>
      <% if current_user.id == hunt.user_id %>
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_scavenger_hunt_path(hunt.id), method: :get, class: 'edit-btn' %>
        <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, scavenger_hunt_path(hunt.id), method: :delete, class: 'delete-btn delete-user-scavenger-hunt', username: "#{current_user.username}", token: "#{current_user.token}", scavenger_hunt_id: "#{hunt.id}"%>
      <% end %>
    </ul>
    <% end %>
  </div>
  <footer>
    <%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path, class: 'footer-button home', title: 'Home' %>
  </footer>
</main>

<%= javascript_include_tag 'user_scavenger_hunts_index.js' %>
